<!doctype html>
<html>
<head>
	<!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	
	<script language="javascript" type="text/javascript">
	window.setTimeout("window.location='https://www.nianshi.xyz'",3000);
	</script>
	
	<meta charset="utf-8">
<title>文章上传成功</title>
</head>
<body>
	<div class="jumbotron" > 
		<div class="container">
			<img src="http://s15.sinaimg.cn/mw690/001owXWuzy7l3rLQQq24e&690" class="img-circle">
			<h1>您已成功提交文章</h1>
			<br>
			<p>将在三秒后自动跳转至上传页面</p>
			<br>
			<h>若未自动跳转，</h>
			<a href="https://www.nianshi.xyz">请点击此处</a>
		</div>
	</div>
</body>
</html>
