<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Upload Test</title>
    <link rel="stylesheet" href={{ url_for('static',filename='bootstrap.min.css') }}>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">年 · 事</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li id="logout"><a href="https://www.nianshi.xyz/login"><span class="glyphicon glyphicon-log-out"></span>登出</a></li>
            </ul>
        </div>
    </nav>
    <div style="padding: 90px 50px;font-size: 25px;">
        <form method="POST" action="/" enctype="multipart/form-data">
            <div class="form-group">
                <label for="Title">标题</label>
                <input type="text" class="form-control" id="Title" name='title' placeholder="Tilte">
            </div>
            <div class="form-group">
                <label for="Introduction">简介</label>
                <input type="text" class="form-control" id="Introduction" name='Introduction' placeholder="Introduction">
            </div>
            <div class="form-group">
                <label for="Article">正文</label>
                <textarea class="form-control" rows="15" id="Article" name='article' placeholder="Article"></textarea>
            </div>
            <div class="form-group">
                <label for="Time">年代</label>
                <select class="form-control" id="Time" name="Time">
                    <option value="before1900">1900前</option>
                    <option value="1900">1900</option>
                    <option value="1910">1910</option>
                    <option value="1920">1920</option>
                    <option value="1930">1930</option>
                    <option value="1940">1940</option>
                    <option value="1950">1950</option>
                    <option value="1960">1960</option>
                    <option value="1970">1970</option>
                    <option value="1980">1980</option>
                    <option value="1990">1990</option>
                    <option value="2000">2000</option>
                    <option value="2010">2010</option>
                    <option value="after2010">2010后</option>
                </select>
            </div>
            <div class="form-group">
                <label for="Classification">类别</label>
                <select class="form-control" id="Classification" name="Classification">
                    <option value="0">亲情</option>
                    <option value="1">友情</option>
                    <option value="2">爱情</option>
                    <option value="3">社会</option>
                    <option value="4">自传</option>
                    <option value="5">纪实</option>
                </select>
            </div>
            <div class="form-group" style="font-size: 19px;">
                <label for="Image">图片</label>
                <input type="file" multiple="multiple" name="file" id="Image">
                <p class="help-block">请上传文章图片(可多选)</p>
            </div>
            <div style="display: table;width: 60%;margin-left: auto;margin-right: auto">
                <button type="submit" class="btn btn-primary btn-lg btn-block">提交</button>
            </div>

        </form>
    </div>
</body>
</html>